asgiref==3.8.1
Brotli==1.1.0
cffi==1.17.1
crispy-bootstrap4==2024.10
cssselect2
Django==4.2.21
django-crispy-forms==2.4
django-filter==24.3
djangorestframework==3.15.2
fonttools==4.57.0
pillow==10.4.0
pycparser==2.22
pydyf==0.11.0
pyphen==0.16.0
sqlparse==0.5.3
tinycss2==1.4.0
weasyprint==56.0
webencodings==0.5.1
zopfli==0.2.3.post1
